/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
    font-family: 'Roboto'
}

body {
	padding: 0px 15px;
}

.link-entry-container {
    display: flex;
    /* height: 200px; */
}

.img {
    width: 100%;
    background-repeat: no-repeat;
    height: 350px;
    background-size: cover;
    /* margin-top: 15px; */
    background-position: center;
}

a.link-entry.parade-card {
    width: 100%;
    text-decoration: none;
    color: #333;
    /* padding-top: 15px; */
    position: relative;
}

span.icon-home-number {
    font-size: 2rem;
    font-style: initial;
    text-decoration: none;
    /* margin-top: 15px; */
    position: absolute;
    background: rgba(255, 255, 255, .9);
    border-bottom-right-radius: 5px;
    padding: 5px;
    border: 2px solid black;
    border-top: none;
    border-left: none;
    font-weight: bold;
}

.details.parade-card-contents {
    position: absolute;
    bottom: 0;
    padding: 10px;
    left: 0;
    border: 2px solid black;
    border-left: none;
    border-bottom: none;
    border-top-right-radius: 10px;
    background: rgba(255, 255, 255, .9);
}

.directions-links {
    position: absolute;
    bottom: 15px;
    right: 10px;
}

a.btn.btn-map-link-icon.map-link-google.map-link-single {
    background-image: url(Google_Maps_icon.svg);
    background-size: cover;
    height: 50px;
    display: block;
    width: 50px;
    color: transparent;
}

.parade-card-container {
    position: relative;
    margin-bottom: 20px;
    margin-top: 20px;
}

h1 {
    font-size: 2rem;
    padding-top: 15px;
}

.results-content {
    max-width: 500px;
    margin: auto;
}